body{
  margin: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #02111B;
}
.cloud{
  width: 90px;
  position: absolute;
  right: 300px;
  top: 140px;
}
.cloud2{
  width: 90px;
  position: absolute;
  left: 250px;
  top: 250px;
}
.name{
  background-color: #FFE082;
  margin-bottom: 0;
}
h1
{
  margin-top: 0px;
  padding-top: 35px;
  color: #02111B;
  font-family: 'Allura', cursive;
  font-size: 5em;
  margin-bottom: 15px;
  text-shadow: 1px 1px #FFE8AE;
}
.mountain{
  width: 40%;
}
p{
  color: 000000;
}
hr{
    border-style: none;
    width: 5%;
    height: 2px;
    border-top: 7px dotted #ACBED8;
}
.me{
  width: 15%;

}
table{
  margin: 0 auto 0 auto;
  border-color: white;
  border-spacing: 5px;
}
.tds:hover {background-color: #e8ebf7;}
.main-t{border-color: white;
text-align: left;}
.tds{
  color: #02111B;
}
.sub{
  background-color: #e8ebf7;
  text-align: center;
}
.star{
  width: 17px;
}
.star5{
  visibility: hidden;
  width: 17px;
}
a:link{
  color: #ffd24b; text-decoration: none;
}
a:active{
  color: #FFC20A;
  text-decoration: underline;
}
a:hover{
  color: #FFEBAD;
  text-decoration: underline;
}
a:visited{
  color: #FFCC33;
  text-decoration: none;
}
.job{
  font-size: 1.25em;
  margin-top: 0;
}
.who-i-am{
  width: 50%;
  margin:auto ;
  line-height: 1.5em;
}
.bottom-container{
  background-color: #02111B;
  padding: 5px;
  line-height: 35px;
}
.end{
  color: white;
  font-weight: lighter;
}
.footer-link{
  margin-left: 20px;
  margin-right: 20px;
}
.myButton {
	box-shadow:inset 0px 34px 0px -15px #03253a;
	background-color:#021927;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #010C13;
}
.myButton:visited{
  color: white;
  text-decoration: none;
}
.myButton:hover {
	background-color:#03253a;
  color: #FFFFFF;
  text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
  color: #ffffff;
  text-decoration: none;
}
.myButton:link{
  color: #FFFFFF; text-decoration: none;
}
.in{font-size: 0.75em;}
